.create-user {
  text-align: center;
  padding: 1rem;
  margin-top: 12rem;
  border: 1px solid black;
  width: 50%;
  border-radius: 1rem;
}

.forms {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem !important;
}
.forms input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}
